body {
  background: rgba(239, 245, 239, .2);
}

header {
  background-image: url("https://i.imgur.com/wJu7nQ3.jpg?2");
  background-size: cover;
  padding-bottom: 300px;
}

h1.app-name {
  padding-top: 50px;
  padding-right: 25px;
  text-align: right;
  color: rgba(223, 236, 223, .7);
  font-size: 60px;
}

h1.searchPage {
  padding: 25px 0;
}

h3.app-name{
  color: rgba(223, 236, 223, .4);
  text-align: right;
  font-style: italic;
  padding-left: 62%;
  padding-right: 25px;
}

div.state-head {
  color: rgb(79, 125, 79);
  text-align: center;
}

.map {
  width: 600px;
  padding: 10px 50px
  /*display: inline-flex;*/
}

.row {
  display: inline-flex;
}

input {
  margin-right: 30px;
  width: 400px;
}

div.searchInputs {
  display: inline-flex;
}

div.searchSubmit {
  display: block;
  margin-top: 40px;
}

button#searchButton {
  padding: 10px 30px;
  font-weight: bold;
  background: rgb(79, 125, 79);
  color: white;

}
