<h1>Is this working???</h1>

<div>
  My name is {{searchCtrl.cat}} the cat.
</div>


<!-- <div class="map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center="1520 2nd Street, Santa Monica, CA" zoom="20"></ng-map>
</div> -->


<div class="map" ng-app="ngMap">
  <div style="width: 68%; float:left; height: 100%">

    <ng-map zoom="14" center="37.7699298, -122.4469157" >
      <directions
        draggable="true"
        travel-mode="DRIVING"
        origin="1520 2nd St, Santa Monica, CA"
        destination="860 E. Mariposa, Altadena, CA">
      </directions>
    </ng-map>
    <br/>

  </div>

</div>
